.games-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

@media (min-width: 768px) {
    .games-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.game-img-box {
    height: 340px;
    background-color: #1f2937;
    overflow: hidden;
}

.game-ongoing-box {
    height: 40px;
    background-color: yellow;
    overflow: hidden;
}

#game-ongoing-box {
    background-image: url("../Image/Box-ongoing.webp");
    padding-top: 30px;
    padding-bottom: 30px;
}

#game-onworking-box {
    background-color: #030712;
}

.game-ongoing-box-bottom {
    height: 40px;
    background-color: yellow;
    overflow: hidden;
    margin-top: auto;
}

.game-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    object-position: left;
}

.game-img-box img {
    transform: scale(1.05);
}

.game-genre {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #818cf8;
    letter-spacing: 0.05em;
}

.game-engine {
    font-size: 0.75rem;
    color: #6b7280;
    margin-bottom: 16px;
}